@import "tailwindcss";

@keyframes shaking-vibe {
  /* Reposo total el 90% del tiempo */
  0%, 85%, 100% { 
    transform: rotate(0deg); 
  }
  /* La vibración ocurre solo en este pequeño margen */
  92% { transform: rotate(10deg); }
  94% { transform: rotate(-10deg); }
  96% { transform: rotate(10deg); }
  98% { transform: rotate(-10deg); }
}

.animate-vibe {
  display: inline-block !important;
  animation: shaking-vibe 3s infinite linear !important;
}

